#canvas-billboard-lrg
  .bckgrnd
  .container

    .title-area

      h2(class='title') #{title}

      //-p This is my playground, my sandbox.. my laboratory. This is my portfolio of layouts, designs, code experiments, concepts and prototypes. Some actually saw the light of day and some are just my own hobby projects. I update this site often so be sure to check back to see what I'm working on.

      p This is my playground, my sandbox & my laboratory. I update this site often so be sure to check back to see what I'm working on.

      hr

      ul(id='horizontal-menu-icons')
        li
          a(href="https://goo.gl/kPDZBa" target="_blank" rel="external")
            i(class="fa fa-file-text-o" aria-hidden="true")
            span Resume
        li
          a(href="https://github.com/elwoodberry" target="_blank" rel="external")
            i(class="fa fa-github-alt" aria-hidden="true")
            span Github

        li
          a(href="https://www.linkedin.com/in/iamelwood/" target="_blank" rel="external")
            i(class="fa fa-linkedin" aria-hidden="true")
            span LinkedIN
        li
          a(href="https://twitter.com/elwoodberry" target="_blank" rel="external")
            i(class="fa fa-twitter" aria-hidden="true")
            span Twitter

    //- FLOWER
    #flower-container
      #pedal-alpha
      #pedal-beta
      #pedal-charlie
