.canvas-header(style="padding-left: 15px;")
  h4 #{title}

  .external-options
    ul(id='horizontal-menu-icons')
      li
        a(href="https://goo.gl/kPDZBa" target="_blank" rel="external")
          i(class="fa fa-file-text-o" aria-hidden="true")
          span Resume
      li
        a(href="https://github.com/elwoodberry" target="_blank" rel="external")
          i(class="fa fa-github-alt" aria-hidden="true")
          span Github
