#past-projects
  h2 Past Projects

  div

    .row

      each project in projects
        .col-lg-3
          .display-card
            .img-container(style='background-image:url(' + project.img + ')')
            h4 #{project.name}
            p #{project.excerpt}

            a(href='portfolio/:' + project.id ) Learn More
