.sidebar

  // HAMBURGER MENU ICON
  #sidebar-hamburger.hamburger
    i(class="fa fa-bars" aria-hidden="true")

  // SIDEBAR CONTAINER
  .sidebar-container
    header
      h4 #{title}

  .menu-icons
    ul(id='vertical-menu-icons')

      //- DASHBOARD
      li
        a(href="/dashboard")
          i(class="fa fa-th" aria-hidden="true")
          span Dashboard

      //- PROTOTYPES
      li
        a(href="/portfolio/prototypes")
          i(class="fa fa-rocket" aria-hidden="true")
          span Prototypes

      //- GRAPHIC DESIGN
      li
        a(href="/portfolio/graphic-design")
          i(class="fa fa-picture-o" aria-hidden="true")
          span Design

      //- LAYOUTS
      li
        a(href="/portfolio/layouts")
          i(class="fa fa-file-code-o" aria-hidden="true")
          span Layouts
