extends ./layouts/app-default.pug

block content

  .canvas-header(style="padding-left: 15px;")
    h4 #{title}

  .container

    include ./partials/billboard.pug

    include ./partials/past-projects.pug
