extends ./layouts/app-default.pug

block content

  include ./partials/canvas-header.pug

  include ./partials/billboard.pug

  .container(style='padding-top:0;')

    include ./partials/past-projects.pug
