extends ./layouts/app-default.pug

block content

  - projectType = projtype

  div(id='type-' + projectType)

  include ./partials/canvas-header.pug

  include ./partials/billboard.pug

  .container(style='padding-top:0;')

    .grid-block
      h2 #{projectType} Projects
      .row
        each project in projects
          .col-lg-3
            .display-card
              .img-container(style='background-image:url(' + project.img + ')')
              h4 #{project.name}
              p #{project.excerpt}

              a(href='/portfolio/:' + project.id + '/:' + projectType ) Learn More
