/* BASE */
@keyframes rotateLeft {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }

@keyframes rotateRight {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); } }

ul#horizontal-menu-icons {
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  display: flex;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
  -webkit-margin-start: 0;
  -webkit-padding-start: 0;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }
  ul#horizontal-menu-icons li {
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    background-color: transparent;
    flex: 1;
    position: relative; }
    ul#horizontal-menu-icons li:hover {
      background-color: rgba(79, 89, 114, 0.07); }
    ul#horizontal-menu-icons li a {
      align-items: center;
      background-color: transparent;
      color: #4f5972;
      display: flex;
      flex-direction: column;
      height: 50px;
      margin: 0 auto;
      padding-top: 5px;
      position: relative;
      width: 100%;
      width: 50px;
      z-index: 10; }
      ul#horizontal-menu-icons li a:hover {
        text-decoration: none; }
      ul#horizontal-menu-icons li a i {
        flex: 1;
        font-size: 24px;
        padding-bottom: 5px; }
      ul#horizontal-menu-icons li a span {
        background-color: transparent;
        flex: 1;
        font-size: 9px;
        text-align: center;
        width: 100%; }
      ul#horizontal-menu-icons li a .menu-icon {
        /* background-color: #598a96; */
        border-bottom: 1px solid rgba(0, 0, 0, 0.17);
        border-right: 1px solid rgba(0, 0, 0, 0.17);
        color: #4d5a71;
        display: block;
        font-size: 20px;
        height: 49px;
        line-height: 2.5;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 50px; }
    ul#horizontal-menu-icons li:hover a .menu-icon {
      background-color: rgba(79, 89, 114, 0.4);
      color: #aaf3b0; }
    ul#horizontal-menu-icons li.active {
      background-color: rgba(88, 88, 88, 0.5); }
      ul#horizontal-menu-icons li.active a {
        color: #ffffff; }

ul#vertical-menu-icons {
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  display: flex;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
  -webkit-margin-start: 0;
  -webkit-padding-start: 0;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }
  ul#vertical-menu-icons li {
    border-bottom: 1px solid #f1f1f1;
    background-color: transparent;
    flex: 1;
    position: relative;
    padding: 5px 0; }
    ul#vertical-menu-icons li:hover {
      background-color: rgba(79, 89, 114, 0.07); }
    ul#vertical-menu-icons li a {
      align-items: center;
      background-color: transparent;
      color: #4f5972;
      display: flex;
      flex-direction: column;
      height: 50px;
      margin: 0 auto;
      padding-top: 5px;
      position: relative;
      width: 100%;
      width: 50px;
      z-index: 10; }
      ul#vertical-menu-icons li a:hover {
        text-decoration: none; }
      ul#vertical-menu-icons li a i {
        flex: 1;
        font-size: 24px;
        padding-bottom: 5px; }
      ul#vertical-menu-icons li a span {
        background-color: transparent;
        flex: 1;
        font-size: 9px;
        text-align: center;
        width: 100%; }
      ul#vertical-menu-icons li a .menu-icon {
        /* background-color: #598a96; */
        border-bottom: 1px solid rgba(0, 0, 0, 0.17);
        border-right: 1px solid rgba(0, 0, 0, 0.17);
        color: #4d5a71;
        display: block;
        font-size: 20px;
        height: 49px;
        line-height: 2.5;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 50px; }
    ul#vertical-menu-icons li:hover a .menu-icon {
      background-color: rgba(79, 89, 114, 0.4);
      color: #aaf3b0; }
    ul#vertical-menu-icons li.active {
      background-color: rgba(88, 88, 88, 0.5); }
      ul#vertical-menu-icons li.active a {
        color: #ffffff; }

.sidebar {
  align-items: left;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 50px;
  z-index: 100; }
  .sidebar .hamburger {
    background-color: #4b5b70;
    color: #a2f2b4;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    line-height: 1.25;
    padding: 10px 10px 10px 10px;
    position: relative;
    text-align: center;
    width: 50px;
    z-index: 1; }
    .sidebar .hamburger:hover {
      background-color: #4b5b70; }
    .sidebar .hamburger i {
      display: none; }
  .sidebar > .sidebar-container {
    background-color: rgba(245, 245, 245, 0.9);
    box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    position: fixed;
    transform: translateX(-300px);
    width: 350px;
    z-index: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms; }
    .sidebar > .sidebar-container header {
      background-color: #e5f3ea;
      border-bottom: 1px solid #d0d0d0;
      color: #154f7b;
      display: flex;
      flex-direction: row;
      height: 50px;
      padding-left: 65px;
      padding-top: 10px;
      position: fixed;
      width: 100%;
      z-index: 10; }
    .sidebar > .sidebar-container #mbl-options {
      display: none; }
  .sidebar > .sidebar-container.expanded-sidebar {
    transform: translateX(0px); }
  .sidebar .menu-icons {
    position: absolute;
    top: 50px; }

/* iPhone 5, 5S, 5C and 5SE */
/* Portrait and Landscape */
/*
@media only screen and (max-width: 768px) and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
*/
@media only screen and (max-width: 768px) {
  .sidebar {
    align-items: left;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 50px;
    z-index: 100;
    display: none; }
    .sidebar .hamburger {
      background-color: #4b5b70;
      color: #a2f2b4;
      cursor: pointer;
      font-size: 20px;
      height: 50px;
      line-height: 1.25;
      padding: 10px 10px 10px 10px;
      position: relative;
      text-align: center;
      width: 50px;
      z-index: 1;
      display: none; }
      .sidebar .hamburger:hover {
        background-color: #4b5b70; }
      .sidebar .hamburger i {
        display: block; }
    .sidebar > .sidebar-container {
      background-color: rgba(245, 245, 245, 0.9);
      box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.1);
      height: 100%;
      position: fixed;
      transform: translateX(-300px);
      width: 350px;
      z-index: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 400ms;
      transition-duration: 400ms;
      transform: translateX(-350px);
      display: none; }
      .sidebar > .sidebar-container header {
        background-color: #e5f3ea;
        border-bottom: 1px solid #d0d0d0;
        color: #154f7b;
        display: flex;
        flex-direction: row;
        height: 50px;
        padding-left: 65px;
        padding-top: 10px;
        position: fixed;
        width: 100%;
        z-index: 10; }
      .sidebar > .sidebar-container #mbl-options {
        display: block;
        padding-top: 50px; }
        .sidebar > .sidebar-container #mbl-options ul {
          -webkit-margin-after: 0;
          -webkit-margin-before: 0;
          -webkit-margin-end: 0;
          -webkit-margin-start: 0;
          -webkit-padding-start: 0;
          list-style: none;
          margin-bottom: 0;
          margin-top: 0;
          padding: 0; }
    .sidebar .menu-icons {
      display: none; }
  /* [end media] */ }

#mbl-footer {
  background-color: #d2fbd5;
  border-top: 1px solid #d0d0d0;
  bottom: 0;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.25);
  height: 50px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  display: none; }

/* iPhone 5, 5S, 5C and 5SE */
/* Portrait and Landscape */
/*
@media only screen and (max-width: 768px) and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
*/
@media only screen and (max-width: 768px) {
  #mbl-footer {
    background-color: #d2fbd5;
    border-top: 1px solid #d0d0d0;
    bottom: 0;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.25);
    height: 50px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    display: block; } }

#canvas-billboard-lrg {
  background-color: transparent;
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  height: 400px; }
  #canvas-billboard-lrg .container {
    height: inherit;
    position: relative; }
    #canvas-billboard-lrg .container .title-area {
      bottom: 20px;
      position: absolute;
      width: 50%;
      z-index: 1;
      width: 30%; }
      #canvas-billboard-lrg .container .title-area h2, #canvas-billboard-lrg .container .title-area p {
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 600ms;
        transition-duration: 600ms;
        -webkit-transition-delay: 600ms;
        transition-delay: 600ms;
        position: relative;
        z-index: 1; }
      #canvas-billboard-lrg .container .title-area h2 {
        opacity: 0;
        transform: translateX(-100px); }
      #canvas-billboard-lrg .container .title-area p {
        font-size: 12px;
        opacity: 0;
        transform: translateY(100px); }
      #canvas-billboard-lrg .container .title-area ul#horizontal-menu-icons li {
        border: none; }
  #canvas-billboard-lrg .bckgrnd {
    background-color: transparent;
    background-image: url(../img/billboard-bckgrnd.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    opacity: .85;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0; }

.init #canvas-billboard-lrg .container .title-area h2 {
  opacity: 1;
  transform: translateX(0px); }

.init #canvas-billboard-lrg .container .title-area p {
  opacity: 1;
  transform: translateY(0px); }

/* iPhone 5, 5S, 5C and 5SE */
/* Portrait and Landscape */
/*
@media only screen and (max-width: 768px) and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
*/
@media only screen and (max-width: 768px) {
  #canvas-billboard-lrg .container .title-area {
    left: 0;
    padding: 0 15px;
    width: 100%; } }

#canvas-billboard-sml {
  background-color: transparent;
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  height: 200px; }
  #canvas-billboard-sml .container {
    height: inherit;
    position: relative; }
    #canvas-billboard-sml .container .title-area {
      bottom: 20px;
      position: absolute;
      width: 50%;
      z-index: 1;
      width: 30%; }
      #canvas-billboard-sml .container .title-area h2, #canvas-billboard-sml .container .title-area p {
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 600ms;
        transition-duration: 600ms;
        -webkit-transition-delay: 600ms;
        transition-delay: 600ms;
        position: relative;
        z-index: 1; }
      #canvas-billboard-sml .container .title-area h2 {
        opacity: 0;
        transform: translateX(-100px); }
      #canvas-billboard-sml .container .title-area p {
        font-size: 12px;
        opacity: 0;
        transform: translateY(100px); }
      #canvas-billboard-sml .container .title-area ul#horizontal-menu-icons li {
        border: none; }
  #canvas-billboard-sml .bckgrnd {
    background-color: transparent;
    background-image: url(../img/billboard-bckgrnd.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    opacity: .85;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0; }

#flower-container {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0; }
  #flower-container #pedal-alpha {
    height: 375px;
    left: -60px;
    position: absolute;
    top: 180px;
    width: 500px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    background-color: rgba(251, 234, 114, 0);
    transform: rotate(0deg); }
  #flower-container #pedal-beta {
    height: 375px;
    left: -60px;
    position: absolute;
    top: 180px;
    width: 500px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    background-color: rgba(253, 253, 189, 0);
    transform: rotate(0deg); }
  #flower-container #pedal-charlie {
    height: 375px;
    left: -60px;
    position: absolute;
    top: 180px;
    width: 500px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    background-color: rgba(207, 230, 139, 0);
    transform: rotate(0deg); }

.init #flower-container #pedal-alpha {
  height: 375px;
  left: -60px;
  position: absolute;
  top: 180px;
  width: 500px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  background-color: rgba(251, 234, 114, 0.45);
  transform: rotate(45deg); }

.init #flower-container #pedal-beta {
  height: 375px;
  left: -60px;
  position: absolute;
  top: 180px;
  width: 500px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  background-color: rgba(253, 253, 189, 0.35);
  transform: rotate(75deg); }

.init #flower-container #pedal-charlie {
  height: 375px;
  left: -60px;
  position: absolute;
  top: 180px;
  width: 500px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  background-color: rgba(207, 230, 139, 0.4);
  transform: rotate(105deg); }

#mbl-detail-header {
  display: none; }

.canvas-header {
  background-color: #e5f3ea;
  border-bottom: 1px solid #d0d0d0;
  color: #154f7b;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding-left: 65px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  z-index: 10; }
  .canvas-header > h4 {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    left: 45px;
    position: relative; }
  .canvas-header > h4.expanded {
    left: -500px; }
  .canvas-header .external-options {
    position: absolute;
    right: 0;
    top: 0; }
  .canvas-header .mbl-back-btn {
    display: none; }

/* iPhone 5, 5S, 5C and 5SE */
/* Portrait and Landscape */
/*
@media only screen and (max-width: 768px) and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
*/
@media only screen and (max-width: 768px) {
  .canvas-header > h4 {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    display: block;
    left: 0;
    width: 100%;
    text-align: center; }
  .canvas-header .external-options {
    display: none; }
  .canvas-header .mbl-back-btn {
    display: block;
    left: 65px;
    position: absolute;
    width: 100%; }
  #mbl-detail-header {
    display: flex;
    padding-left: 0;
    padding-top: 0;
    text-align: center; }
    #mbl-detail-header #left-nav,
    #mbl-detail-header #right-nav {
      flex: 1;
      padding-top: 12px; }
    #mbl-detail-header #left-nav i {
      padding-right: 10px; }
    #mbl-detail-header #project-title {
      flex: 3;
      margin: 0;
      padding-top: 12px; } }

#default-container {
  overflow: hidden;
  padding-bottom: 50px;
  position: relative;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms; }
  #default-container .container {
    padding-top: 50px; }

a {
  color: #515873; }

#nav-breadcrumbs {
  display: block; }

/*
@media only screen and (max-width: 768px) and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
*/
@media only screen and (max-width: 768px) {
  #nav-breadcrumbs {
    display: none; }
  /* [end media] */ }

.widget .widget-body {
  background-color: whitesmoke;
  padding: 50px;
  border-bottom: 1px solid #ddd;
  position: relative; }
  .widget .widget-body .container {
    position: relative;
    z-index: 1; }
    .widget .widget-body .container .row .col-md-3 {
      height: 100px; }
  .widget .widget-body::before {
    content: '...';
    box-shadow: 0px 15px 30px #9aa39c;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 90%;
    transform: translateX(5%); }

#splash {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%; }
  #splash #splash-container {
    background-color: transparent;
    display: flex;
    height: 300px;
    position: absolute;
    width: 580px;
    z-index: 1;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms; }
    #splash #splash-container .billboard-container {
      background-color: transparent;
      flex: 1;
      height: 250px;
      max-width: 380px;
      min-width: 320px;
      position: relative; }
      #splash #splash-container .billboard-container .billboard {
        background-color: transparent;
        height: 250px;
        left: 0px;
        max-width: 380px;
        min-width: 320px;
        position: absolute;
        opacity: 0;
        top: 0px;
        transform: translateY(400px);
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;
        /* ACTIVE BILLBOARD */ }
        #splash #splash-container .billboard-container .billboard span {
          color: #A3FF62;
          left: 5px;
          opacity: 0;
          position: absolute;
          text-transform: uppercase;
          top: -25px;
          transform: translateX(100px);
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
          -webkit-transition-delay: 600ms;
          transition-delay: 600ms; }
          #splash #splash-container .billboard-container .billboard span::before {
            border-top: 1px solid #CCC;
            content: '';
            display: block;
            left: -190px;
            opacity: 0;
            position: absolute;
            top: 10px;
            transform: translateX(-100px);
            width: 175px;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 1000ms;
            transition-duration: 1000ms;
            -webkit-transition-delay: 1000ms;
            transition-delay: 1000ms; }
        #splash #splash-container .billboard-container .billboard img.icon {
          background-color: transparent;
          height: 50px;
          left: -60px;
          opacity: 0;
          position: absolute;
          top: 5px;
          transform: translateX(70px);
          width: auto;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
          -webkit-transition-delay: 600ms;
          transition-delay: 600ms; }
        #splash #splash-container .billboard-container .billboard .title-container {
          overflow: hidden; }
          #splash #splash-container .billboard-container .billboard .title-container h2 {
            color: #FFF;
            display: block;
            font-family: 'Roboto', sans-serif;
            font-size: 3.5rem;
            line-height: 1;
            margin: 0;
            padding: 5px;
            transform: translateY(65px);
            width: 100%;
            -webkit-transition-property: all;
            transition-property: all;
            -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
            -webkit-transition-delay: 400ms;
            transition-delay: 400ms; }
        #splash #splash-container .billboard-container .billboard p.excerpt {
          background-color: transparent;
          color: #FFF;
          opacity: 0;
          padding: 10px;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 600ms;
          transition-duration: 600ms; }
        #splash #splash-container .billboard-container .billboard.active {
          opacity: 1;
          transform: translateY(0px); }
          #splash #splash-container .billboard-container .billboard.active span {
            opacity: 1;
            transform: translateX(0px); }
            #splash #splash-container .billboard-container .billboard.active span::before {
              opacity: 1;
              transform: translateX(0px); }
          #splash #splash-container .billboard-container .billboard.active img.icon {
            opacity: 1;
            transform: translateX(0px); }
          #splash #splash-container .billboard-container .billboard.active .title-container h2 {
            transform: translateY(0px); }
          #splash #splash-container .billboard-container .billboard.active p.excerpt {
            opacity: 1; }
    #splash #splash-container ul.billboard-menu {
      color: #CCC;
      flex: 1;
      opacity: 0;
      transform: translateX(-200px);
      -webkit-margin-after: 0;
      -webkit-margin-before: 0;
      -webkit-margin-end: 0;
      -webkit-margin-start: 0;
      -webkit-padding-start: 0;
      list-style: none;
      margin-bottom: 0;
      margin-top: 0;
      padding: 0;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 1000ms;
      transition-duration: 1000ms;
      -webkit-transition-delay: 1000ms;
      transition-delay: 1000ms; }
      #splash #splash-container ul.billboard-menu li {
        font-size: 14px; }
        #splash #splash-container ul.billboard-menu li i {
          font-size: 10px;
          margin-right: 5px; }
        #splash #splash-container ul.billboard-menu li:hover {
          color: #A3FF62;
          cursor: pointer; }
        #splash #splash-container ul.billboard-menu li.active {
          color: #FFF; }
      #splash #splash-container ul.billboard-menu.active {
        opacity: 1;
        transform: translateX(0px); }
  #splash .bckgrnd {
    height: 500px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 0;
    background-color: #63a3bf;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23244272' fill-opacity='0.16'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms; }
  #splash .hamburger {
    background-color: transparent;
    height: 50px;
    left: 15px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 15px;
    transform: translateX(-100px);
    width: 50px;
    z-index: 1;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transition-delay: 1600ms;
    transition-delay: 1600ms; }
    #splash .hamburger.ready {
      opacity: 1;
      transform: translateX(0px); }
    #splash .hamburger i {
      color: #afff21;
      font-size: 34px;
      line-height: 1.5; }
  #splash footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(98, 146, 177, 0.38);
    display: flex;
    font-size: 12px;
    color: #FFF;
    padding: 10px;
    z-index: 10;
    transform: translateY(100px);
    opacity: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transition-delay: 1600ms;
    transition-delay: 1600ms; }
    #splash footer .copyright {
      flex: 1; }
    #splash footer .social {
      flex: 1; }
      #splash footer .social ul {
        display: flex;
        -webkit-margin-after: 0;
        -webkit-margin-before: 0;
        -webkit-margin-end: 0;
        -webkit-margin-start: 0;
        -webkit-padding-start: 0;
        list-style: none;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0; }
        #splash footer .social ul li {
          margin-right: 10px; }
          #splash footer .social ul li a {
            color: #FFF;
            font-size: 24px; }
    #splash footer.ready {
      opacity: 1;
      transform: translateY(0px); }

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
/*
@media only screen and (max-width: 768px) and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
*/
@media only screen and (max-width: 768px) {
  #splash {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%; }
    #splash #splash-container {
      background-color: transparent;
      display: flex;
      height: 300px;
      position: absolute;
      width: 580px;
      z-index: 1;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 400ms;
      transition-duration: 400ms;
      background-color: transparent;
      flex-direction: column;
      height: 100%;
      padding: 115px 20px 0 80px;
      width: 100%; }
      #splash #splash-container .billboard-container {
        background-color: transparent;
        flex: 1;
        height: 250px;
        max-width: 380px;
        min-width: 320px;
        position: relative;
        background-color: transparent;
        flex: 0;
        max-width: 100%;
        min-width: 100%;
        order: 2; }
        #splash #splash-container .billboard-container .billboard {
          background-color: transparent;
          height: 250px;
          left: 0px;
          max-width: 380px;
          min-width: 320px;
          position: absolute;
          opacity: 0;
          top: 0px;
          transform: translateY(400px);
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
          max-width: 100%;
          min-width: 100%; }
          #splash #splash-container .billboard-container .billboard .title-container h2 {
            font-size: 3rem; }
          #splash #splash-container .billboard-container .billboard p {
            font-size: 16px;
            line-height: 1.4; }
      #splash #splash-container ul.billboard-menu {
        flex: .13;
        display: flex;
        order: 1; }
        #splash #splash-container ul.billboard-menu li i {
          font-size: 20px;
          margin-right: 10px; }
        #splash #splash-container ul.billboard-menu li span {
          display: none; }
        #splash #splash-container ul.billboard-menu li.active i {
          color: #A3FF62; }
    #splash .bckgrnd {
      height: 100%;
      top: 0; }
    #splash footer {
      display: none;
      flex-direction: column; }
      #splash footer .copyright {
        flex: 1;
        order: 2; }
      #splash footer .social {
        flex: 1; }
        #splash footer .social ul li {
          flex: 1;
          text-align: center; }
  /* [end media] */ }

.grid-block h2 {
  font-size: 24px;
  text-transform: capitalize; }

.display-card {
  background-color: transparent;
  margin-bottom: 20px; }
  .display-card h4 {
    padding: 0 10px; }
  .display-card p {
    font-size: 12px;
    padding: 0 10px; }
  .display-card a {
    width: 100%;
    background-color: #20517b;
    display: block;
    padding: 10px;
    color: #aeffbd; }
  .display-card .img-container {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #CCC;
    height: 175px;
    background-color: aliceblue;
    margin-bottom: 10px;
    background-position: center;
    background-size: 100%; }

/* iPhone 5, 5S, 5C and 5SE */
/* Portrait and Landscape */
/*
@media only screen and (max-width: 768px) and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
*/
@media only screen and (max-width: 768px) {
  .display-card {
    background-color: #e9ecef;
    margin-bottom: 40px;
    padding: 10px; } }

.breadcrumb {
  margin-bottom: 0;
  background-color: transparent;
  padding: 12px 0;
  font-size: 12px; }

#detail-header {
  display: block; }

.portfolio-item-display {
  background-color: #f5f5f5;
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: 45px;
  background-position: top center;
  background-size: cover; }
  .portfolio-item-display .thumbnail-container {
    background-color: aqua;
    border: 3px solid #FFF;
    bottom: -25px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
    height: 250px;
    left: 25px;
    position: absolute;
    width: 300px; }
    .portfolio-item-display .thumbnail-container a {
      height: 244px;
      display: block;
      width: 294px;
      background-color: darkblue;
      background-position: center; }
    .portfolio-item-display .thumbnail-container img {
      width: 300px; }
    .portfolio-item-display .thumbnail-container span {
      position: absolute;
      bottom: 0;
      width: 100%;
      right: -315px;
      color: #74949c; }
      .portfolio-item-display .thumbnail-container span small {
        margin-left: 10px; }

.portfolio-item-description {
  color: #2e74a0;
  font-size: 20px; }

#display-canvas {
  background-color: rgba(235, 235, 235, 0.5);
  margin-bottom: 25px;
  height: 300px;
  position: relative; }
  #display-canvas iframe {
    border-width: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.display-canvas {
  background-color: #FFF;
  width: 400px;
  margin: 100px auto 0;
  box-shadow: 0px 2px 5px #a5a5a5;
  padding: 20px; }

.other-info {
  display: flex; }
  .other-info .technologies {
    flex: 1; }
  .other-info .other-images {
    flex: 1; }
    .other-info .other-images .container {
      padding-top: 0 !important; }
      .other-info .other-images .container .col-md-4 {
        margin-bottom: 15px; }
        .other-info .other-images .container .col-md-4 a.other-imgs {
          height: 130px;
          background-color: aliceblue;
          display: block;
          background-size: cover;
          background-position: center;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); }

/*
@media only screen and (max-width: 768px) and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
*/
@media only screen and (max-width: 768px) {
  #detail-header {
    display: none; }
  .other-info {
    display: flex;
    flex-direction: column; }
    .other-info .other-images .container .col-md-4 {
      margin-bottom: 40px; }
      .other-info .other-images .container .col-md-4 a.other-imgs {
        height: 200px; }
  /* [end media] */ }

#css-transition-alpha {
  font-family: 'Anonymous Pro', monospace; }
  #css-transition-alpha ul {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-margin-end: 0;
    -webkit-margin-start: 0;
    -webkit-padding-start: 0;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 2px;
    border: 1px solid #d4d4d4;
    display: flex;
    flex-direction: row;
    opacity: 0;
    overflow: hidden; }
    #css-transition-alpha ul li {
      flex: 1;
      border-right: 1px solid #d4d4d4;
      text-align: center; }
      #css-transition-alpha ul li a {
        -webkit-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
        border-top: 1px solid transparent;
        color: #525774;
        display: flex;
        height: 50px;
        flex-direction: column;
        text-decoration: none; }
        #css-transition-alpha ul li a span {
          font-size: 12px; }
          #css-transition-alpha ul li a span i {
            font-size: 10px; }
        #css-transition-alpha ul li a i {
          font-size: 24px;
          padding: 4px; }
        #css-transition-alpha ul li a:hover {
          border-top: 1px solid #ffa100; }
          #css-transition-alpha ul li a:hover i {
            color: #ffa100; }
        #css-transition-alpha ul li a:active {
          background-color: #dadada;
          border-top: 1px solid #525774; }
          #css-transition-alpha ul li a:active i {
            color: #525774; }
      #css-transition-alpha ul li:last-child {
        border-right: none; }
    #css-transition-alpha ul.ready {
      opacity: 1; }
