.canvas-header {
  @include header-default;

  > h4 {
    left: 45px;
    position: relative;
    @include transition-default;
    @include transition-duration-400;
  }
  > h4.expanded {
    left: -500px;
  }

  .external-options {
    position: absolute;
    right: 0;
    top: 0;
  }
}
