#default-container {
  overflow: hidden;
  padding-bottom: 50px;
  position: relative;
  @include transition-default;
  @include transition-duration-400;

  .container {
    padding-top: 50px;
  }

}

a {
  @include anchor;
}
