
.breadcrumb {
  margin-bottom: 0;
  background-color: transparent;
  padding: 12px 0;
  font-size: 12px;
}
.portfolio-item-display {
  background-color: #f5f5f5;
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: 45px;
  background-position: top center;
  background-size: cover;

  .thumbnail-container {
    width: 306px;
    position: absolute;
    bottom: -25px;
    left: 25px;
    background-color: aqua;
    border: 3px solid #FFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);

    img {
      width: 300px;
    }

    span {
      position: absolute;
      bottom: 0;
      width: 100%;
      right: -315px;
      color: #74949c;

      small {
        margin-left: 10px;
      }
    }
  }
}

.portfolio-item-description {
  color: #2e74a0;
  font-size: 20px;
}

.other-info {
  display: flex;

  .technologies {
    flex: 1;
  }
  .other-images {
    flex: 1;

    .container {
      padding-top: 0 !important;

      .col-md-4 {
        margin-bottom: 15px;

        a.other-imgs {
          height: 130px;
          background-color: aliceblue;
          display: block;
          background-size: cover;
          background-position: center;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
        }
      }
    }

  }
}
