.grid-block {
  h2 {
    font-size: 24px;
    text-transform: capitalize;
  }
}

.display-card {
  background-color: transparent;
  margin-bottom: 20px;

  h4 {
    padding: 0 10px;
  }

  p {
    font-size: 12px;
    padding: 0 10px;
  }

  a {
    width: 100%;
    background-color: #20517b;
    display: block;
    padding: 10px;
    color: #aeffbd;
  }

  .img-container {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #CCC;
    height: 175px;
    background-color: aliceblue;
    margin-bottom: 10px;
    background-position: center;
    background-size: 100%;
  }
}




/* iPhone 5, 5S, 5C and 5SE */
/* Portrait and Landscape */

@media only screen and (min-width: 320px) and (max-width: 568px) and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  
  .display-card {
    background-color: #e9ecef;
    margin-bottom: 40px;
    padding: 10px;
  }
}
