@mixin mbl-footer-default {
  background-color: #d2fbd5;
  border-top: 1px solid #d0d0d0;
  bottom: 0;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.25);
  height: 50px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

#mbl-footer {
  @include mbl-footer-default;
  display: none;
}

/* iPhone 5, 5S, 5C and 5SE */
/* Portrait and Landscape */
/*
@media only screen and (max-width: 768px) and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
*/
@media only screen and (max-width: 768px) {
  
  #mbl-footer {
    @include mbl-footer-default;
    display: block;
  }
  
}
