.sidebar {
  align-items: left;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 50px;
  z-index: 100;

  .hamburger {
    background-color: #4b5b70;
    color: #a2f2b4;
    cursor: pointer;
    height: 50px;
    padding: 10px 10px 10px 10px;
    position: relative;
    text-align: center;
    width: 50px;
    z-index: 1;
    font-size: 20px;
    line-height: 1.25;

    &:hover{
      background-color: #4b5b70;
    }
  }

  > .sidebar-container {
      background-color: rgba(245, 245, 245, 0.9);
      box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.1);
      height: 100%;
      position: fixed;
      transform: translateX(-300px);
      width: 350px;
      z-index: 0;
      @include transition-default;
      @include transition-duration-400;

      header {
        @include header-default;
      }

      .menu-icons {
        position: absolute;
        top: 50px;
      }

  }
  > .sidebar-container.expanded-sidebar {
    transform: translateX(0px);
  }
}
