@mixin splash-main {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

@mixin splash-container-default {
  background-color: transparent;
  display: flex;
  height: 300px;
  position: absolute;
  width: 580px;
  z-index: 1;
  @include transition-default;
  @include transition-duration-400;
}

@mixin billboard-container-default {
  background-color: transparent;
  flex: 1;
  height: 250px;
  max-width: 380px;
  min-width: 320px;
  position: relative;
}

@mixin billboard-default {
  background-color: transparent;
  height: 250px;
  left: 0px;
  max-width: 380px;
  min-width: 320px;
  position: absolute;
  opacity: 0;
  top: 0px;
  transform: translateY(400px);
  @include transition-default;
  @include transition-duration-400;
}

// SPLASH
#splash {
  @include splash-main;

  #splash-container {
    @include splash-container-default;

    .billboard-container {
      @include billboard-container-default;

      .billboard {
        @include billboard-default;

        span {
          color: #A3FF62;
          left: 5px;
          opacity: 0;
          position: absolute;
          text-transform: uppercase;
          top: -25px;
          transform: translateX(100px);
          @include transition-default;
          @include transition-duration-600;
          @include transition-delay-600;

          &::before {
            border-top: 1px solid #CCC;
            content: '';
            display: block;
            left: -190px;
            opacity: 0;
            position: absolute;
            top: 10px;
            transform: translateX(-100px);
            width: 175px;
            @include transition-default;
            @include transition-duration-1000;
            @include transition-delay-1000;
          }
        }

        img.icon {
          background-color: transparent;
          height: 50px;
          left: -60px;
          opacity: 0;
          position: absolute;
          top: 5px;
          transform: translateX(70px);
          width: auto;
          @include transition-default;
          @include transition-duration-400;
          @include transition-delay-600;
        }

        .title-container {
          overflow: hidden;

          h2 {
            @include h2-title;
            @include transition-default;
            @include transition-duration-400;
            @include transition-delay-400;
          }
        }

        p.excerpt {
          background-color: transparent;
          color: #FFF;
          opacity: 0;
          padding: 10px;
          @include transition-default;
          @include transition-duration-600;
        }

        /* ACTIVE BILLBOARD */
        &.active {
          opacity: 1;
          transform: translateY(0px);

          span {
            opacity: 1;
            transform: translateX(0px);

            &::before {
              opacity: 1;
              transform: translateX(0px);
            }
          }
          img.icon {
            opacity: 1;
            transform: translateX(0px);
          }
          .title-container {
            h2 {
              transform: translateY(0px);
            }
          }
          p.excerpt {
            opacity: 1;
          }
        }
      }
    }


    ul.billboard-menu {
      color: #CCC;
      flex: 1;
      opacity: 0;
      transform: translateX(-200px);
      @include ul-default;
      @include transition-default;
      @include transition-duration-1000;
      @include transition-delay-1000;

      li {
        font-size: 14px;

        i {
          font-size: 10px;
          margin-right: 5px;
        }

        // LI: HOVER
        &:hover {
          color: #A3FF62;
          cursor: pointer;
        }

        // LI: ACTIVE
        &.active {
          color: #FFF;
        }

      }

      // UL: ACTIVE
      &.active {
        opacity: 1;
        transform: translateX(0px);
      }

    }
  }

  .bckgrnd {
    height: 500px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 0;
    @include pattern-01;
    @include transition-default;
    @include transition-duration-400;
  }

  .hamburger {
    background-color: transparent;
    height: 50px;
    left: 15px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 15px;
    transform: translateX(-100px);
    width: 50px;
    z-index: 1;
    @include transition-default;
    @include transition-duration-400;
    @include transition-delay-1600;

    &:hover {

    }
    &.ready {
      opacity: 1;
      transform: translateX(0px);
    }

    i {
      color: #afff21;
      font-size: 34px;
      line-height: 1.5;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(98, 146, 177, 0.38);
    display: flex;
    font-size: 12px;
    color: #FFF;
    padding: 10px;
    z-index: 10;
    transform: translateY(100px);
    opacity: 0;
    @include transition-default;
    @include transition-duration-400;
    @include transition-delay-1600;

    .copyright {
      flex: 1;
    }
    .social {
      flex: 1;

      ul {
        display: flex;
        @include ul-default;

        li {
          margin-right: 10px;

          a {
            color: #FFF;
            font-size: 24px;
          }
        }
      }
    }

    &.ready {
      opacity: 1;
      transform: translateY(0px);
    }

  }
}





/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {

  #splash {
    @include splash-main;

    #splash-container {
      @include splash-container-default;
      background-color: transparent;
      flex-direction: column;
      height: 100%;
      padding: 115px 20px 0 80px;
      width: 100%;

      .billboard-container {
        @include billboard-container-default;
        background-color: transparent;
        flex: 0;
        max-width: 100%;
        min-width: 100%;
        order: 2;

        .billboard {
          @include billboard-default;
          max-width: 100%;
          min-width: 100%;

          .title-container {
            h2 {
              font-size: 3rem;
            }
          }

          p {
            font-size: 16px;
            line-height: 1.4;
          }
        }
      }

      ul.billboard-menu {
        flex: .1;
        display: flex;
        order: 1;

        li {
          i {
            font-size: 20px;
            margin-right: 10px;
          }
          span {
            display: none;
          }

          &.active {
            i {
              color: #A3FF62;
            }
          }
        }
      }
    }

    .bckgrnd {
      height: 100%;
      top: 0;
    }

    footer {
      flex-direction: column;

      .copyright {
        flex: 1;
        order: 2;
      }
      .social {
        flex: 1;

        ul {
          li {
            flex: 1;
            text-align: center;
          }
        }
      }
    }
  }

/* [end media] */
}
