@mixin transition-default {
  -webkit-transition-property: all;
  transition-property: all;
}

// DURATIONS
@mixin transition-duration-400 {
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}

@mixin transition-duration-600 {
  -webkit-transition-duration: 600ms;
  transition-duration: 600ms;
}

@mixin transition-duration-1000 {
  -webkit-transition-duration: 1000ms;
  transition-duration: 1000ms;
}

// DELAYS
@mixin transition-delay-400 {
  -webkit-transition-delay: 400ms;
  transition-delay: 400ms;
}

@mixin transition-delay-600 {
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}

@mixin transition-delay-1000 {
  -webkit-transition-delay: 1000ms;
  transition-delay: 1000ms;
}

@mixin transition-delay-1600 {
  -webkit-transition-delay: 1600ms;
  transition-delay: 1600ms;
}

@mixin h2-title {
  color: #FFF;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5rem;
  line-height: 1;
  margin: 0;
  padding: 5px;
  transform: translateY(65px);
  width: 100%;
}

@mixin ul-default {
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  -webkit-margin-end: 0;
  -webkit-margin-start: 0;
  -webkit-padding-start: 0;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
