@mixin header-default {
  background-color: #e5f3ea;
  border-bottom: 1px solid #d0d0d0;
  color: #154f7b;
  display: flex;
  flex-direction: row;
  height: 50px;
  padding-left: 65px;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

@mixin animation-default($name, $duration, $timing, $delay, $iteration, $direction, $fill, $state){
  /* Default */
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-delay: $delay;
  animation-iteration-count: $iteration;
  animation-direction: $direction;
  animation-fill-mode: $fill;
  animation-play-state: $state;

  /* WebKit */
  -webkit-animation-name: $name;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $timing;
  -webkit-animation-delay: $delay;
  -webkit-animation-iteration-count: $iteration;
  -webkit-animation-direction: $direction;
  -webkit-animation-fill-mode: $fill;
  -webkit-animation-play-state: $state;

  /* Mozilla */
  -moz-animation-name: $name;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $timing;
  -moz-animation-delay: $delay;
  -moz-animation-iteration-count: $iteration;
  -moz-animation-direction: $direction;
  -moz-animation-fill-mode: $fill;
  -moz-animation-play-state: $state;

  /* Opera */
  -o-animation-name: $name;
  -o-animation-duration: $duration;
  -o-animation-timing-function: $timing;
  -o-animation-delay: $delay;
  -o-animation-iteration-count: $iteration;
  -o-animation-direction: $direction;
  -o-animation-fill-mode: $fill;
  -o-animation-play-state: $state;
}
