doctype html

html

  head

    //- FONTS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous+Pro")

    //- CSS
    link(rel="stylesheet" href="../css/style.css")

  body

    .display-canvas
      #css-transition-alpha
        ul
          li
            a(id='a-records' href='#')
              i(class="fa fa-folder" aria-hidden="true")
              span
                i(i class="fa fa-caret-left" aria-hidden="true")
                span Records

          li
            a(id='a-clients' href='#')
              i(class="fa fa-address-card" aria-hidden="true")
              span
                i(class="fa fa-sort-desc" aria-hidden="true")
                span Clients
          li
            a(id='a-locations' href='#')
              i(class="fa fa-map-marker" aria-hidden="true")
              span
                span Locations
                i(class="fa fa-sort-desc" aria-hidden="true")
          li
            a(id='a-settings' href='#')
              i(class="fa fa-cog" aria-hidden="true")
              span
                span Settings
                i(i class="fa fa-caret-right" aria-hidden="true")







    //- THIRD PARTY SCRIPTS
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")

    //- SCRIPT
    script(src='./js/010_css-transition-alpha.js')
